
#carrousel{
	max-width:600px;
	max-height:600px;
	box-shadow:0 0 14px rgba(0,0,0,0.3);
	position:relative;
	overflow:hidden;
	/* background-color: blueviolet; */
	z-index:1000000;
}

#container-carr{
	width:600px;
	height:600px;
}
.photo{
	width:600px;
	height:600px;
	margin:0;
	display:inline-block;
	background-size:cover;
	cursor:pointer;
}

.arrow {
    position:absolute;
    font-size:70px;
    cursor:pointer;
    color:rgb(255, 255, 255);
	z-index:1000000;
}

.left.arrow {
	left:5%;
	opacity:0.4;
	transition:all 0.3s ease;
}

.right.arrow {
	right:5%;
	opacity:0.4;
	transition:all 0.3s ease;
}

.left.arrow:hover {
	transform: scale(1.1);
	opacity:1;
	transition:all 0.3s ease;
}

.right.arrow:hover{
	transform:scale(1.1);
	opacity:1;
	transition:all 0.3s ease;
}

@media (max-width: 1024px) {
    #carrousel, #container-carr, .photo {
        width: 300px;
        height: 300px;
    }

	.arrow {
		font-size: 12vw;
	}
}