.h4-gallerie {
    text-align: center;
}

.container.gallery {
    background-color: aquamarine;
}

.procedure-gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 12px;
    align-items: start;
    background-color: forestgreen;
}

.gallery-light-box {
    width: 100%;
    overflow: hidden;
    background-color: antiquewhite;
}

.gallery-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: crimson;
}

@media screen and (max-width: 1024px) {
    .procedure-gallery-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        grid-gap: 12px;
        align-items: start;
        background-color: forestgreen;
    }
}