.specialist-wrapper {
    margin-top: 50px;
}


.specialist-item {
    width: 100%;
    color: #4d4e52;
    cursor: pointer;
    border-bottom: 1px solid #e9e5e2;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: padding .3s, box-shadow .3s;
    display: flex;
    box-shadow: inset 0 0 #fbf5f1;
}

.specialist-item:hover {
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: inset 0 80px #fbf5f1;
}

.w-inline-block {
    max-width: 100%;
}
  

a {
color: #1b1b1b;
line-height: 1.56;
text-decoration: none;
display: inline-block;
}

a {
background-color: rgba(0, 0, 0, 0);
}

a:active, a:hover {
outline: 0;
}

.specialist-link-wrapper {
color: #8f7d6b;
letter-spacing: .02em;
text-transform: uppercase;
align-items: center;
display: flex;
font-family: Lexend, sans-serif;
font-size: 14px;
}

  .paragraph.small {
    font-weight: 300;
  }

  .specialist-link-wrapper, .paragraph.small.wo {
    margin: 0; /* Ajustez selon les besoins */
    padding: 0; /* Ajustez selon les besoins */
}

@media screen and (max-width: 550px) {
    .specialist-wrapper {
        margin-top: 20px;
    }

    .specialist-item:hover {
        box-shadow: inset 0 120px #e9e5e2;
      }

      .specialist-item {
        flex-direction: column;
        align-items: flex-start;
      }
}

@media screen and (max-width: 1224px) and (min-width: 1024px) {
    .specialist-item:hover {
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: inset 0 80px #fbf5f1;
    }

    .specialist-link-wrapper {
        letter-spacing: 0;
        font-size: 13px;
        }
}
