.navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fefbf7;
    z-index: 10; /* Assure que la navBar reste au-dessus du contenu */
}

.outNav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: black;
    font-weight: 400;
    font-size: 1rem;
    padding-right: 1rem;
    text-align: center;
    width: auto; 
}

.menuButton {
    display: none;
}

.menu {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.item {
    color: #4d4e52;
    font-weight: 300;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Media queries pour les ajustements d'affichage */
@media screen and (max-width: 1024px) {
    .outNav {
        width: 90%;
    }

    .menuButton {
        display: block;
        font-size: 1.5rem;
        cursor: pointer; /* Ajouté pour améliorer l'interactivité */
    }

    .menu {
        display: none; /* Caché par défaut en dessous de 1024px */
        flex-direction: column; /* Pour l'alignement vertical quand ouvert */
        position: absolute; /* Pour s'afficher en dessous de la barre de navigation */
        top: 100%; /* Positionné directement en dessous de la navBar */
        left: 0;
        right: 0;
        padding-left:5%;
        align-items: flex-start;
        background-color: #fefbf7; /* Assure un fond pour le menu déroulant */
        z-index: 9; /* Garde le menu juste en dessous de la navBar */
    }

    .menu.open {
        display: flex; /* Affiche le menu quand .open est ajouté */
        padding-bottom:1%;
    }

    .item {
        margin: 16px 0;
        font-size:1.35rem;
    }

    .title {
        font-size: 1.4rem;
    }
}
