.presta-right-wrapper.regard {
    /* padding-left:0; */
  }

.presta-img-wrapper.soin.regard {
    padding-left:40px;
    padding-right:40px;
    width:100%;
    object-fit:cover;
}

@media screen and (max-width: 1024px) {
    .presta-img-wrapper.soin.regard {
      padding-left:0;
      padding-right:0;
  }
}