.p-thalion {
    text-align: justify;
}

@media screen and (max-width: 900px) {
    .center-content-wrapper.thalion {
        padding: 30px 25px;
        width:90%;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 10px;
    }

    .p-thalion {
        font-size:14px;
        z-index:2;
    }

    .h3-thalion {
        font-size: 24px;
        z-index:2;
    }

    .center-block.thalion {
        height:150%;
        background-image: url('../img/algues.jpg');
        background-position: center;
        background-attachment: fixed;
    }
}

  @media screen and (max-width: 600px) {
    .center-content-wrapper.thalion {
        padding: 25px 22px;
        width:90%;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 10px;
    }
    
    .p-thalion {
        font-size:13px;
        z-index:2;
    }
    
    .h3-thalion {
        font-size: 20px;
        z-index:2;
    }
    
    .center-block.thalion {
        height:200%;
        background-image: url('../img/algues.jpg');
        background-position: center;
        background-attachment: fixed;
    }
  }